
      <div class='col-xs-9'>
        <h2>Users</h2>
        <table class='table'>
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon" /></td>
              <td>22</td>
              <td><a class="user_26013" href="/users/26013">Show</a></td>
            </tr>
          </tbody>
        </table>
      </div>

