
<div class='body'>
  <div class='container'>
    <p id="notice"></p>
    <div class='row'>
      <div class='col-xs-3'>
        <h2>User info</h2>
        <table class='table'>
        <%= @user.each do |user| %>
          <tr><=% user.image %></tr>
          <tr><th>Name</th><th><%= user.name  %></th></tr>
          <tr><th>introduction</th><th><=%= user.introduction %></th></tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

